/* Estilos generales */
body {
    font-family: Century Gothic, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212529;
    color: rgb(255, 255, 255);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1vh;
}

.calculator {
    background-color: #212529;
    text-align: center;
    color
    padding: 1px;
    border-radius: 5px; 
    margin: 0px; 
}

.social-icons {
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 10px;
}

/* Estilos para los botones de redes sociales */
.social-icons a {
    margin: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;

}

input[type="number"] {
    width: 80%;
    padding: 7px;
    margin: 6px 0;
    border: 3px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo para el resultado pnlGanador */
.result-ganador {
    color: rgb(131, 255, 80); /* Cambia el color a tu elección */
    font-weight: bold;
}

/* Estilo para el resultado pnlPerdedor */
.result-perdedor {
    color: rgb(255, 86, 86); /* Cambia el color a tu elección */
    font-weight: bold;
}

/* Estilo para el resultado porcentajeMatar */
.result-porcentaje {
    color: yellow; /* Cambia el color a tu elección */
    font-weight: bold;
}

/* Estilo para el resultado cantidadMatar */
.result-cantidad {
    color: rgb(113, 255, 255); /* Cambia el color a tu elección */
    font-weight: bold;
}

.team {
    text-align: center; /* Centra el contenido horizontalmente */
}

.team-table {
    border-collapse: collapse; /* Combina los bordes de la tabla */
    width: 90%; /* Ancho de la tabla, ajusta según sea necesario */
    margin: 0 auto; /* Centra la tabla horizontalmente */
}

.team-table td {
    border-left: 1px solid #FFFFFF; /* Línea vertical de separación */
    padding: 1px; /* Espaciado interno para los elementos de la tabla */
    font-size: 9px; /* Tamaño de texto en las celdas de la tabla */
}

.team-table a {
    text-decoration: none; /* Elimina la subrayado de los hipervínculos */
    color: #4CAF50; /* Color del texto de los hipervínculos */
}
